# pnpm configuration for build script execution & devDependencies installation
production=false
prefer-frozen-lockfile=false
only-built-dependencies[]=@tailwindcss/oxide
only-built-dependencies[]=esbuild
strict-peer-dependencies=false
auto-install-peers=true
